<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dicta dolore enim illum, ipsum, libero modi nihil numquam perspiciatis quia vero voluptates. Nemo obcaecati, perspiciatis quam reiciendis tempore veniam. Illo illum in, nam necessitatibus sed similique vero? Accusamus assumenda culpa eligendi id nihil sapiente suscipit. Cumque possimus quasi sapiente vero.</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="./assets/images/sprite.svg#line"></use>
                </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>